/* mulish-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/mulish-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mulish-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/mulish-v18-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mulish-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/mulish-v18-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mulish-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/mulish-v18-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mulish-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/mulish-v18-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mulish-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/mulish-v18-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}












:root {
  --white: #ffffff;
  --black: #000000;
  --blue:  #458FF6;
  --gray:  #7D7987;
  --siniy:#5A98F2;
  --light:#67C3F3;
}
::selection {
  background-color: var(--black);
  color: var(--white);
}
*,
*::before,
*::after {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  display: inline-block;
}
html {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: 'Mulish';
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  height: 100%;
  line-height: 1.5;
  background-color: var(--white);
  color: var(--black);
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.container {
  width: 100%;
  max-width: 1366px;
  padding: 0 0px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}




.header {
}
.header-container {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-link-logo {
}
.header-logo-image {
}
.header-list {
     display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.header-lists {
}
.header-links {
}
.header-links-texts {
  font-family: 'Mulish';
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  color:var(--gray) ;
  transition: 0.2ms ease all;
  
  &:hover {
    transition: 0.2ms ease all;
    font-weight: 700;
    color: var(--black);
}
}





.hero {
}
.hero-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.hero-left-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.hero-text {
 font-family: 'Mulish';
  padding-bottom: 6px;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 10%;
  color: var(--black);
}
.hero-title {
  letter-spacing: 0%;
  font-weight: 300;
  line-height: 32px;
  width: 445px;
  font-family: 'Mulish';
  font-size: 21px;
  color: var(--gray);
  padding-bottom: 47px;
  padding-top: 25px;
}
.btn {
  padding: 18px 50px;
  border-radius: 55px;
  background: var(--blue);
  color: white;
  font-weight: 700;
  cursor: pointer;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
  box-shadow: 0 4px 12px rgba(8, 42, 234, 0.3);
  transition: 0.4s ease;
  position: relative;
  overflow: hidden;
   &:active{
    transition: 0.5s ease all;
    background-color: inherit;
    color: var(--blue);
}}

.second-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.second-section-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.second-section-title {
font-family: 'Mulish';
  padding-bottom: 26px;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  letter-spacing: 0%;
  color: var(--black);
}
.second-section-element {
padding-bottom: 30px;
}
.second-section-text {
  font-family: 'Mulish';
  padding-bottom: 67px;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  color: var(--gray);
}

.category {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.category-container {
  display: flex;
 flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  gap: 34px;
  margin-top: 67px;
   max-width:1100px ;
   margin-inline: auto;
}
.category-titles  {
  font-family:'Mulish' ;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 170%;
  line-height: 56%;
  letter-spacing: 0%;
}
.category-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family:'Mulish' ;
  margin-top: 61px;
  color: var(--gray);
}
.category-box {
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 254px;
  cursor: pointer;
  border: 2px solid var(--blue);
  border-radius: 7px;
  transition: 450ms ease all;
  &:hover{
    transition: 450ms ease all;
 box-shadow: rgba(6, 110, 162, 0.745) 0px 5px 15px;
  }
  }
.category-image {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: start;

}
.category-titles {
  font-family:'Mulish' ;
  font-weight: 700;
  font-size: 24px;
  line-height: 56px;
  letter-spacing: 0%;
  color: var(--black);
}
.category-texts {
  font-family: 'Mulish';
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  color: var(--gray);
}
.category-button {
  margin: 50px auto 0;
padding: 12px 32px;
  border-radius: 50px;
  background: var(--blue);
  color: white;
  font-weight: 700;
  cursor: pointer;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  box-shadow: 0 4px 12px rgba(8, 42, 234, 0.3);
  transition: 0.4s ease;
  position: relative;
  overflow: hidden;
   &:active{
    transition: 0.5s ease all;
    background-color: inherit;
    color: var(--blue);
}
}

.something {
  margin-top: 30px;
}
.something-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.something-right-box {
    display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.something-title {
  margin-top: 200px;
  font-family: 'Mulish';
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0%;
}
.something-text {
  margin-top: 59px;
  font-family: 'Mulish';
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: 0%;
  color: var(--gray);
}
.something-button {
  margin-top: 37px;
    padding: 18px 50px;
  border-radius: 55px;
  background: var(--blue);
  color: white;
  font-weight: 700;
  cursor: pointer;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
  box-shadow: 0 4px 12px rgba(8, 42, 234, 0.3);
  transition: 0.4s ease;
  position: relative;
  overflow: hidden;
   &:active{
    transition: 0.5s ease all;
    background-color: inherit;
    color: var(--blue);
}}

.something-image{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-top: 221px;
  margin-right: 137px;
}

.page-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.page-left-box {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.page-title {
  margin-top: 100px;
  font-family: 'Mulish';
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0%;
}
.page-text {
    margin-top: 53px;
  font-family: 'Mulish';
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: 0%;
  color: var(--gray);
}
.page-button {
   margin-top: 37px;
    padding: 18px 50px;
  border-radius: 55px;
  background: var(--blue);
  color: white;
  font-weight: 700;
  cursor: pointer;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
  box-shadow: 0 4px 12px rgba(8, 42, 234, 0.3);
  transition: 0.4s ease;
  position: relative;
  overflow: hidden;
   &:active{
    transition: 0.5s ease all;
    background-color: inherit;
    color: var(--blue);
}}
.page-vector {

}
.page-image {
      display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
}


.section { 
  

}
.section-container {
   display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.section-paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-box {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 363px; */
}
.section-images {
  margin-bottom: 21px;
}
.section-titles {
  font-family: 'Mulish';
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
    letter-spacing: 0%;
    color: var(--black);
    margin-bottom: 12px;
}
.section-texts {
  font-family: 'Mulish';
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    color:var(--gray);
    text-align: center;
}

.article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container {
}
.article-container {
  display: flex;
 flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 67px;
   max-width:1100px ;
   margin-inline: auto;
}
.article-title {
  margin-top: 160px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family:'Mulish';
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  letter-spacing: 0%;
}
.article-box {
  border: 2px solid var(--blue);
  border-radius: 7px;
  transition: 450ms ease all;
  &:hover{
    transition: 450ms ease all;
 box-shadow: rgba(88, 114, 156, 0.745) 0px 5px 15px;
  }
  
}
.article-images {
}
.article-titles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  font-family: 'Mulish';
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: 0%;
}
.article-texts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  font-family: 'Mulish';
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  color: var(--gray);
}
.article-button {
}

.footer {
  background-color: var(--siniy);
  background-color: var(--light);
 margin-top: 170px;
 padding: 0px;
  font-family: 'Mulish';
}
.container {
}
.footer-container {
   display: flex;
  justify-content: space-between; 
  align-items: flex-start;
  padding: 60px 0;
}
.footer-left {
  max-width: 350px;
}
.footer-logo {
   width: 160px;
}
.footer-text {
   margin-top: 20px;
  font-size: 16px;
  line-height: 26px;
  color: var(--gray);
}
.footer-copy {
  margin-top: 30px;
  font-size: 14px;
  color: var(--gray);
}
.footer-right {
  width: 50%;
  display: flex;
  justify-content: flex-end; 
  gap: 80px;
 
}
.footer-low {
  font-family: 'Mulish';
  font-weight: 700;
  font-size: 18px;
  line-height: 38px;
  margin-bottom: 20px;
   color: var(--white));
  font-size: 16px;
  transition: 0.3s ease all;
   &:active{
     transition: 0.3s ease all;
  color: var(--white);
   }
}

::-webkit-scrollbar {
  width: 0.7rem;
}
::-webkit-scrollbar-track {
  background-color: var(--blue);
}
::-webkit-scrollbar-thumb {
  background-color: var(--white);
}

 